# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Extreme-Snowboarding.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\Extreme-Snowboarding\.idea\.idea.Extreme-Snowboarding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
